.quizContainer {
  background: #ffffff;
}

.mainTitle {
  font: bold 35px Arial, Helvetica;
  text-align: center;
  padding-top: 100px;
  color: #ff2562;
}

.playButton {
  background: #16b174;
  color: white;
  border: 0px;
  border-radius: 0px;
  padding: 10px 100px;
}

.playButton:hover {
  background: #16b174;
  text-decoration: none;
  color: white;
}

.playButtonWrapper {
  text-align: center;
  padding-top: 30px;
}
