.quizContainer {
  background: #ffffff;
}

.contentWrapper {
  padding-top: 50px;
}

.LoadingHead {
  font: bold 45px Arial, Helvetica;
  text-align: center;
  color: #ff2562;
  padding-top: 40px;
}
.questionHead {
  font: bold 35px Arial, Helvetica;
  text-align: center;
  color: #ff2562;
  padding-top: 20px;
}

.answerList {
  font: bold 22px Arial, Helvetica;
  text-align: center;
  color: #ff6f98;
  padding-top: 20px;
}

.answerOptions {
  padding: 10px;
}

.answerDisplay {
  font: bold 22px Arial, Helvetica;
  text-align: center;
  color: #6b6a6a;
  padding-top: 20px;
}

.errorMessageDisplay {
  font: bold 20px Arial, Helvetica;
  text-align: center;
  color: #6b6a6a;
  padding-top: 5px;
}

.quizButton {
  background: #fe6346;
  color: white;
  border: 0px;
  border-radius: 0px;
  padding: 10px 100px;
}

.quizButton:hover {
  background: #fe6346;
  text-decoration: none;
  color: white;
}

.quizButtonWrapper {
  text-align: center;
  padding-top: 15px;
}

.detailscard span {
  font: bold 15px Arial, Helvetica;
  color: #6b6a6a;
}

.detailscard {
  font: bold 18px Arial, Helvetica;
  color: #e85981;
  text-align: center;
}

.quizResultMessage {
  font: bold 20px Arial, Helvetica;
  color: #6b6a6a;
}
