.quizContainer{
    background: #ffffff;
  }

  .contentWrapper{
    padding-top: 40px;
  }

  .scoreHead{
    font: bold 35px Arial, Helvetica;
    text-align: center;
    color:#ff2562;
    padding-top: 20px;
  }

  .quizScored{
    text-align: center;
    padding-top: 40px;
  }

  .quizScored .scoreText{
    color: #6b6a6a;
    font: bold 35px Arial, Helvetica; 
    padding: 10px;
  }

  .quizScored .scoreCircle{
    background: #ff2562;
    color: #ffffff;
    border-radius: 50px;
    border:1px solid red;
    padding: 20px;
    font: bold 20px Arial, Helvetica; 
  }

  .paragraph{
    font: bold 18px Arial, Helvetica;
    text-align: center;
    color:#6b6a6a;
    padding-top: 140px;
  }

  .playButton{
    background: #16b174;
    color:white;
    border:0px;
    border-radius: 0px;
    padding: 10px 100px;
  }

  .playButton:hover{
    background:#16b174;
    text-decoration: none;
    color:white;
  }

  .playButtonWrapper{
    text-align: center;
    padding-top: 30px;
  }